<div class="panel panel-default" data-no-turbolink = "true" >
	<div class="panel-heading">
		<div class="panel-title">
			<h2>Log in</h2>
		</div>
	</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<div class="panel-body">

  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
  </div>
	<div class="panel-footer">
	  <div class="form-actions">
	    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
	  </div>
<% end %>

		<%= render "devise/shared/links" %>
	</div>