<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShoppingList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body style="background-color: #34495e;">

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-close" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      </button>
		      <%= link_to "Task Keeper", root_path, class: "navbar-brand" %>
			</div>
			<ul class="nav navbar-nav collapse navbar-collapse" id="bs-close">
				<li> <%= link_to "Sign Up", new_user_registration_path %> </li>
				<% if current_user.present? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<%= link_to "Add new items", new_item_path, class: "navbar-text navbar-right btn btn-primary" %>
			<% end %>
		</div>
	</nav>

<!-- 	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> -->

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
			<%= yield %>
		</div>
	</div>
	<footer style="color: #fff;" class="col-md-8 col-md-offset-2">
		<p>2016 Task Keeper app built on Rails 4 by Ken Ijiwoye</p>
	</footer>
</body>
</html>
